
@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroy/gilroy-light/gilroy-light.eot');
    src: url('../fonts/gilroy/gilroy-light/gilroy-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy/gilroy-light/gilroy-light.woff2') format('woff2'),
         url('../fonts/gilroy/gilroy-light/gilroy-light.woff') format('woff'),
         url('../fonts/gilroy/gilroy-light/gilroy-light.ttf') format('truetype'),
         url('../fonts/gilroy/gilroy-light/gilroy-light.svg#gilroylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroy/gilroy-extrabold/gilroy-extrabold.eot');
    src: url('../fonts/gilroy/gilroy-extrabold/gilroy-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy/gilroy-extrabold/gilroy-extrabold.woff2') format('woff2'),
         url('../fonts/gilroy/gilroy-extrabold/gilroy-extrabold.woff') format('woff'),
         url('../fonts/gilroy/gilroy-extrabold/gilroy-extrabold.ttf') format('truetype'),
         url('../fonts/gilroy/gilroy-extrabold/gilroy-extrabold.svg#gilroyextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}


// Core variables and mixins
@import "bootstrap/variables";

@import "components/vars";

 @import "bootstrap/mixins";
 @import "bootstrap/normalize";
 @import "bootstrap/grid";
 // @import "bootstrap/responsive-utilities";
 //@import "bootstrap/utilities";


@import "components/body";



a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
// .gmnoprint div {
//     background:none !important;
// }


@import "components/header";


.layout{
	display: table;
	table-layout: fixed;
  	height: 100%;
  	width: 100%;
  	padding: 0 40px;
  	padding-bottom: 75px;
}

.layout--stock{
	.content-part{
		max-width: 100%;
	}
	.page-content{
		>.container-fluid{
			max-width: 100%;
		}
	}
}

.layout--service{

	.page-title {
	    color: #fff;
	    margin-bottom: 0;
	}
	.page-header{
		color: #fff;
		position: relative;
		&:before{
			content: "";
			display: inline-block;
			width: 1px;
			height: 100%;
			background:  rgba(232, 232, 232, 0.2);
			position: absolute;
			left: 0;
			top: 75px;
		}
		&:after{
			content: "";
			display: inline-block;
			width: 1px;
			height: 100%;
			background:  rgba(232, 232, 232, 0.2);
			position: absolute;
			right: 0;
			top: 75px;
		}
	}
	.top-logo-wrap {
	    border-bottom: 1px solid rgba(232, 232, 232, 0.2);
	}
	.page-header__nav:after,
	.page-header__link:after,
	.page-header__link--sub > a:after{
		background: rgba(232, 232, 232, 0.2);
	}
	.page-header__link--sub{
		&:hover{
			>a{
				color: #d31f34;
			}
		}
	}
	.page-header__link--sub > a{
		color: #fff;
		&.active{
			color: #d31f34;
		}
	}
	.page-header__link{
		color: #fff;
		&:hover{
			color: #d31f34;
		}
	}
	.content-part{
		max-width: 100%;
	}
	.page-content{
		>.container-fluid{
			max-width: 100%;
		}
	}
	.breadcrumbs,
	.page-title{
		max-width: 860px;
		margin-left: auto;
		margin-right: auto; 
	}
	.page-content {
	    padding-top: 0;
	}
	.page-header__phone{
		color: #fff;
		&:hover{
			color: #d31f34;
		}
	}
	.top-menu{
	    .page-header__phone{
	    	color: #000;
	    	&:hover{
	    		color: #d31f34;
	    	}
	    }
	    
	}
	.page-title{
		padding-bottom: 95px;
	}
	.breadcrumbs{
		padding-top: 150px;
	}

}


.layout--cost{
	.breadcrumbs,
	.page-title{
		display: none;
	}
	.content-part {
	    max-width: 1260px;
	}
}

.layout--index{
	padding: 0;
	// display: block;
	.page-content{
		padding: 0;
		border: 0;
		>.container-fluid{
			max-width: 100%;
		}
	}
	.content-part{
		max-width: 100%;
		padding: 0;
	}
	.page-title,
	.breadcrumbs{
		display: none;
	}
	.top-logo{
		height: 335px;
		transition:all 0.3s linear;
		&.toggled{
			height: 154px;
			transition:all 0.3s linear;
			.top-logo__img{
				width: 106px;
    			height: 55px;
    			bottom: 20px;
			}
		}
	}
	.page-header{
		width: 100%;
		z-index: 7;
		padding: 0 40px;
		//height: 100%;
		position: fixed;
	}
	.page-header__phone,
	.page-header__link,
	.page-header__link--sub>a{
		color: #fff;
		&:hover{
			color: #d31f34;
		}
	}
	.page-footer{
		z-index: 5;
	}
	.page-footer__in {
	    padding: 28px 0;
	}
	.wrapper,
	.page-content{
		display: block;
	}
	.wrapper{
		overflow: hidden;
		&:before{
			content: "";
			height: 100%;
			width: 1px;
			background: rgba(232,232,232, 0.2);
			position: absolute;
			top: 75px;
			left: 40px;
			z-index: 4;
		}
		&:after{
			content: "";
			height: 100%;
			width: 1px;
			background: rgba(232,232,232, 0.2);
			position: absolute;
			top: 75px;
			right: 40px;
			z-index: 4;
		}
	}
	.top-logo__img{
		width: 160px;
		height: 83px;

	    background: url(../img/content/top-logo-index.png) no-repeat;
	    background-size: contain;
	    position: absolute;
	    bottom: 105px;
	    left: 50%;
	    transform: translateX(-50%);
    	margin-left: 0;
	    transition:all 0.3s linear;
	    // transition-delay:0.3s;
	}
}

.layout--question{
	.content-part{
		max-width: 100%;
		
	}
	.breadcrumbs,
	.page-title{
		max-width: 700px;
    	margin: 0 auto;
	}
	.page-content{
		>.container-fluid{
			max-width: 100%;
		}
	}
}

.layout--contacts{
	.breadcrumbs,
	.page-title{
		display: none;
	}
	.page-content{
		display: block;
	    padding-top: 0;
	    //margin-top: -74px;
		>.container-fluid{
			max-width: 100%;
		}
	}
	.content-part{
		padding: 0;
    	max-width: 100%;
	}
	.page-header{
		z-index: 3;
    	position: relative;
	}
}


.wrapper{
	display: table-row;
	height: 100%;
	position: relative;
}

.container-fluid{
	max-width: 1360px;
	padding: 0;
	position: relative;
	width: 100%;
}


.page-content{
	display: table-cell;
	height: 100%;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	padding-top: 80px;
}

.layout--index{
	.page-content{
		border-left: 1px solid rgba(232,232,232, 0.2);
		border-right: 1px solid rgba(232,232,232, 0.2);
	}
}



.workarea{
	line-height: 1.3;
	h1{
		margin: 0;
		margin-bottom: 20px;
		font-weight: normal;
		font-family: 'gilroyextrabold';
		font-size: 48px;
	}
	h2{
		margin: 0;
		margin-bottom: 18px;
		font-weight: normal;
		font-family: 'gilroyextrabold';
		font-size: 30px;
	}
	h3{
	    margin: 0;
	    margin-bottom: 15px;
	    font-weight: normal;
	    font-family: 'gilroyextrabold';
		font-size: 26px;
	}
	h4{
	    margin: 0;
	    margin-bottom: 15px;
	    font-weight: normal;
	    font-family: 'gilroyextrabold';
		font-size: 24px;
	}
	h5{
	    margin: 0;
	    margin-bottom: 15px;
	    font-weight: normal;
	    font-family: 'gilroyextrabold';
		font-size: 20px;
	}
	h6{
	    margin: 0;
	    margin-bottom: 15px;
	    font-weight: normal;
	    font-family: 'gilroyextrabold';
		font-size: 18px;
	}
	p{
		margin: 0;
		line-height: 1.8;
		margin-bottom: 30px;
	}
	video{
		max-width: 100%;
		height: auto;
		object-fit: cover;
		display: block;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"]{
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		color: #000;
	}
	figure {
	    margin: 0;
	    margin-bottom: 23px;
	    img{
	    	max-width: 100%;
	    	height: auto;
	    	display: block;
	    }
	}
	ul{
		margin: 0;
	    margin-bottom: 30px;
	    padding: 0;
	    li{
			list-style-type: none;
			padding-left: 28px;
			position: relative;
			margin-bottom: 11px;
			line-height: 1.8;
			&:before{
				content: "";
				position: absolute;
				left: 1px;
				top: 9px;
				background: #d31f34;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				width: 6px;
				height: 6px;
			}
	    }
	}
	ol{
		margin: 0;
	    margin-bottom: 30px;
	    padding: 0;
	    counter-reset: myCounter;
		li{
			list-style-type: none;
			padding-left: 28px;
			position: relative;
			margin-bottom: 11px;
			line-height: 1.8;
			&:before{
				counter-increment: myCounter;
				content: counter(myCounter);
				position: absolute;
				left: 0;
				top: 0;
				color: #d31f34;
				font-size: 16px;
				font-family: 'gilroyextrabold';
			}
		}
	}
	table{
		table-layout: fixed;
		width: 100%;
		margin-bottom: 40px;
		th{
			font-size: 16px;
			font-family: 'gilroyextrabold';
			border-bottom: 1px solid #d31f34;
			text-align: left;
			padding: 15px 21px;
		}
		td{
			    padding: 15px 21px;
		}
		tr{
			&:first-child{
				td{
					border-top: 1px solid #d31f34;
				}
			}
		}
	}
	strong{
		font-family: 'gilroyextrabold';
	}
}
.img-sign {
    color: #a4a6ab;
    display: block;
    margin-bottom: 23px;
    font-size: 13px;
}

.content-part{
	padding: 50px 0; 
	max-width: 920px;
	margin: 0 auto;
}
.breadcrumbs{
	margin-bottom: 12px;
}
.breadcrumbs__item{
	color: #d31f34;
	font-family: 'gilroyextrabold';
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
	padding-right: 35px;
	position: relative;
	text-decoration: none;
	&:after{
		content: "";
		display: inline-block;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background: #d31f34;
		position: absolute;
		top: 50%;
		margin-top: -2px;
    	right: 14px;
	}
	&:hover{
		background: transparent;
	}
}
.breadcrumbs__item--home{
	width: 23px;
	height: 25px;
	background: url(../img/svg/ship.svg) center 2px no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
	&:hover{
		background: url(../img/svg/ship.svg) center 2px no-repeat;
	}
	&:after{
		right: -14px;
	}
}

.page-title{
	margin-bottom: 35px;
	h1{
		margin-bottom: 0;
		margin: 0;
		font-weight: normal;
		font-family: 'gilroyextrabold';
		font-size: 48px;
	}
}


.workarea ul.tabletolist li{
	padding-left: 0;
	line-height: inherit;
	margin-bottom: 0;
	border-bottom: 1px solid #e3e3e3;
	overflow: hidden;
	&:before{
		display: none;
	}
}
.titles{
	display: block;
	background: #00a6e4;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.row_headers,
.row_data{
	float: left;
	width: 50%;
	padding: 5px 0;
}

.img-default{
	margin-bottom: 30px;
	img{
		max-width: 100%;
		height: auto;
	}
}

.img-sign-default{
	    margin-top: -35px;
    font-size: 13px;
    padding: 44px 0 10px 19px;
    border-left: 3px solid #d31f34;
    position: relative;
    z-index: 3;
    margin-left: 20px;
}

.video-wrap{
	margin-bottom: 40px;
}


.paging{
	padding-top: 30px;
	border-top: 1px solid #d31f34;
	margin-bottom: 30px;
}

.paging__item{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	margin-right: 5px;
	font-family: 'gilroyextrabold';
	font-size: 16px;
	color: #000;
	background: #f5f5f5;
	padding: 0 22px; 
	text-align: center;
	height: 50px;
	line-height: 50px;
	transition:all 0.3s ease;
	border:1px solid #f5f5f5;
	&.active{
		background: #d31f34;
		color: #fff;
		pointer-events:none;
	}
	&:hover{
		border:1px solid #d31f34;
	}
	&.paging__item--next{
		margin-right: 0;
		width: 87px;
		position: relative;
		span{
			position: absolute;
			width: 40px;
			height: 1px;
			background: #000;
			display: inline-block;
			vertical-align: middle;
			transition: all 0.3s ease;
			top: 50%;
			left: 50%;
			margin-left: -20px;
			&:before{
				content: "";
			    width: 8px;
			    height: 15px;
			    display: inline-block;
			    vertical-align: middle;
			    background: url(../img/svg/p-arrow.svg) center no-repeat;
			    background-size: cover;
			    position: absolute;
			    top: 50%;
			    margin-top: -8px;
			    right: -1px;
			}
		}
		
		&:hover{
			border:1px solid transparent;
			span{
				width: 45px;
			}
		}
	}
	&.paging__item--prev{
		width: 87px;
		position: relative;
		span{
			position: absolute;
			width: 40px;
			height: 1px;
			background: #000;
			display: inline-block;
			vertical-align: middle;
			transition: all 0.3s ease;
			top: 50%;
			right: 50%;
			margin-right: -20px;
			&:before{
				content: "";
				width: 8px;
				height: 15px;
				display: inline-block;
				vertical-align: middle;
				background: url(../img/svg/p-arrow.svg) center no-repeat;
				background-size: cover;
				position: absolute;
				top: 50%;
				margin-top: -8px;
				left: -1px;
				transform:rotate(-180deg);
				transition: all 0.3s ease;
			}
		}
		
		&:hover{
			border:1px solid transparent;
			span{
				width: 45px;
			}
		}
	}
}


.news{

}

.news__item{
	margin-bottom: 60px;
}

.news-img__in{
	height: 310px;
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center!important;
	display: block;
	width: 100%;
	background-color: transparent!important;
}

.news__date{
	font-size: 13px;
	color: #a4a6ab;
	    margin-bottom: 22px;
    margin-top: -3px;
}
.news__title{
	font-family: 'gilroyextrabold';
	font-size: 30px;
	margin-bottom: 17px;
	display: block;
	color: #000;
	&:hover{
		background: transparent;
		color: #d31f34;
	}
}
.news__txt{
	line-height: 1.8;
}

.consultation{
	background: rgba(211, 31, 52, 0.9);
	color: #fff;
	padding: 59px 0;
	margin: 0 -40px;
	position: relative;
	.container-fluid{
		max-width: 1140px;
	}
	h2{
		font-size: 48px;
		    margin-bottom: 14px;
	}
}

.consultation__bg{
	position: absolute;
	top: 0;
	left: 0;
	position: absolute;
	width: 50%;
	height: 100%;
	background: url(../img/content/cons-bg.png) left bottom no-repeat;
	background-size: contain;
	z-index: -1;
}

.consultation__info{
	float: left;
	width: 50%;
}

.consultation__form{
	float: right;
	width: 40%;
	.input-wrap{
		    margin-bottom: 13px;
		&.act{
			.input-wrap__label{
				top: -10px;
				font-size: 13px;
				opacity: 0.5;
			}
		}
	}
}
.consultation__txt{
	padding-left: 20px;
	border-left: 3px solid #fff;
}

.consultation__item{
	line-height: 1.8;
	margin-bottom: 28px;
	&:last-child{
		margin-bottom: 0;
	}
}



.consultation__form{
	input[type="text"],
	input[type="email"],
	input[type="tel"]{
		background: transparent;
		border: 0;
		border-bottom: 2px solid #e17581;
		color: #fff;
		padding: 10px 15px; 
	}
	textarea{
		background: transparent;
		border: 0;
		border-bottom: 2px solid #e17581;
		color: #fff;
		padding: 10px 15px;
		width: 100%;
		resize: none;
		height: 100px;
	}
}

.input-wrap__label{
	position: absolute;
	transition: .3s all ease;
    cursor: text;
    top: 10px;
    left: 0;
    pointer-events:none;
}

.intl-tel-input{
	display: block;
	position: static;
}

.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.separate-dial-code input,
.intl-tel-input.separate-dial-code input[type=tel],
.intl-tel-input.separate-dial-code input[type=text] {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 0;
    width: 100%;
}
.input-wrap{
	position: relative;

}
.input-wrap-tel{
	position: relative;
	margin-left: 97px;
}
.intl-tel-input.allow-dropdown .flag-container{
	left: -97px;
	border-bottom: 2px solid #e17581;
}


.intl-tel-input.allow-dropdown .selected-flag{
	width: 74px;
	padding: 0 0 0 25px;
}

.intl-tel-input .selected-flag .iti-arrow {
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 6px;
    width: 12px;
    height: 9px;
    border: 0;
    background: url(../img/svg/angle-arrow-down.svg) no-repeat;
    background-size: contain;
    transition: transform 0.3s ease;
}

.flag-container.active{
	.iti-arrow {
		transform: rotate(-180deg);
	}
}

.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
    background-color: transparent;
}


.intl-tel-input .country-list .flag-box {
    width: 20px;
    float: left;
}
.intl-tel-input .country-list .country-name{
	margin-right: 0;
	    overflow: hidden;
    display: block;
}

.dial-code{
	display: none;
}
.intl-tel-input .country-list .country {
    padding: 6px 10px;
    line-height: 1;
    margin-bottom: 0;
    font-size: 13px;
    overflow: hidden;
}

.intl-tel-input .hide {
    display: block;
}

.intl-tel-input .country-list.hide{
	opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(9%);
    -ms-transform: translateY(9%);
    transform: translateY(9%);
    transition: all 0.5s ease;
}
.intl-tel-input .country-list {
    z-index: 7;
    box-shadow: none;
    background-color: #fff;
    border: 0;
    max-width: 240px;
    min-width: 200px;
    max-height: 170px;
    white-space: normal;

    transform: translateY(0);
    transition: all 0.5s ease;
    li{
    	color: #000;
    	&:before{
    		display: none;
    	}
    }
}
.consultation__submit{
	display: inline-block;
	background: transparent;
	border: 2px solid #fff;
	font-size: 16px;
	font-family: 'gilroyextrabold';
	padding: 8px 38px;
	transition:all 0.2s ease;
	&:active{
		background: #f74c60;
	}
}

.consultation__submit-wrap{
	padding-top: 23px;
}


.socials{
	padding-top: 32px;
	border-top: 1px solid #d31f34;
	text-align: right;
	img{
		display: inline-block;
		vertical-align: middle;
	}
}

.socials__txt{
	font-size: 16px;
	font-family: 'gilroyextrabold';
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
}


.stock-img{
	position: absolute;
    left: 0;
    bottom: 0;
    height: 600px;
    width: 50%;
    padding-right: 15px;
	img{
		max-width: 100%;
		height: auto;
	}
	.img-sign-default{
		    margin-left: 38px;
	}
}

.stock-wrapper{
	margin-left: -40px;
    margin-right: -40px;
    position: relative;
}

.stock-wrapper__in{
	max-width: 1140px;
	margin: 0 auto;
	min-height: 550px;
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}

.stock-img__bg{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 550px;
}

.stock-img-wrap{
	padding-left: 0;
	position: static;
	// padding-bottom: 600px;
}

.stock-info{
	padding-right: 0;
}

// .service-list{
// 	padding-top: 97px;
   
// }
.service-list__item{
	position: relative;
    margin: 0 -40px 80px;
}
.service-number{
	font-size: 220px;
	line-height: 160px;
	color: #f3f3f3;
	font-family: 'gilroyextrabold';
	position: absolute;
	top: 0;
	    left: -55px;
	z-index: -1;
}
.service-top{
	color: #d31f34;
	font-size: 18px;
	margin-bottom: 20px;
	span{
		display: inline-block;
		vertical-align: middle;
	}
	&:after{
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 1px;
		width: 120px;
		margin-left: 20px;
		background: #d31f34;
	}
}

.service-title{
	h2{
		    margin-bottom: 30px;
	}
}

.service-middle{
	 max-width: 860px;
    margin: 0 auto;
    position: relative;
    &:last-child{
    	margin-bottom: 0;
    }
}

.service-insert{
	position: relative;
}

.service-insert__in{
	max-width: 1100px;
	margin: 0 auto 40px;
    //position: relative;
    min-height: 420px;
    display: flex;
    align-items: center;
}

.service-insert__img{
	height: 420px;
	width: 60%; 
}
.service-insert__img-bg{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	position: absolute;
	width: 60%;
	height: 100%;
}


.service-insert__info{
	width: 40%;
	font-size: 26px;
	line-height: 1.4;
	position: relative;
}


.service-insert--right{
	.service-insert__img{
		order: 1;
	}
	.service-insert__img-bg{
		right: 0;
	}
	.service-insert__info {
	    order: 0;
	    &:before{
			content: "";
			display: block;
			width: 2px;
			height: 100%;
			background: #d31f34;
			position: absolute;
			left: -30px;
			top: 0;
		}
	}
	.service-insert__inner{
		text-align: left;
		padding-right: 130px;
	}
}

.service-insert--left{
	.service-insert__img{
		order: 0;
	}
	.service-insert__img-bg{
		left: 0;
	}
	.service-insert__info {
	    order: 1;
	    &:before{
			content: "";
			display: block;
			width: 2px;
			height: 100%;
			background: #d31f34;
			position: absolute;
			right: -30px;
			top: 0;
		}
	}
	.service-insert__inner{
		text-align: right;
		padding-left: 130px;
	}
}


.service-range{
	max-width: 1160px;
    margin: 0 auto 40px;
}

.service-range__item{
	width: 50%;
	padding-right: 30px;
	margin-bottom: 30px;
	display: flex;
}

.service-range__wrap{
	margin-right: -30px;
	display: flex;
	flex-wrap: wrap;
}

.service-range__inner{
	border: 8px solid #f8f8f8;
	padding: 20px 105px 40px 130px;
	width: 100%;
	position: relative;
}

.service-range__txt{
	line-height: 1.7;
}

.service-benefits{
	    max-width: 1160px;
    margin: 0 auto 40px;
    padding-top: 18px;
}

.service-benefits__item{
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	width: 33.33%;
	padding-right: 30px;
}

.service-benefits__title{
	font-size: 26px;
	font-family: 'gilroyextrabold';
	padding-bottom: 15px;
	margin-bottom: 15px;
	position: relative;
	&:after{
		content: "";
		display: inline-block;
		width: 25px;
		height: 3px;
		background: #d31f34;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}
.service-benefits__info{
	line-height: 1.7;
}

.service-range__icon{
	width: 60px;
	height: 45px;
	position: absolute;
	left: 35px;
    top: 25px;
	img{
		max-width: 100%;
		height: auto;
		max-height: 100%;
		display: block;
	}
}

.cost__wrap{
	overflow: hidden;
}

.cost-form{
	padding-right: 10px;
	.input-wrap{
		width: 50%;
		padding-right: 20px;
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;
		// &:nth-child(1n){
		// 	z-index: 6;
		// }
		// &:nth-child(2n){
		// 	z-index: 7;
		// }
		// &:nth-child(3n){
		// 	z-index: 8;
		// }
		// &:nth-child(4n){
		// 	z-index: 9;
		// }
		// &:nth-child(5n){
		// 	z-index: 10;
		// }
		input[type="text"],
		input[type="search"],
		input[type="email"],
		input[type="tel"]{
			//border-right: 1px solid #cbcccf;
			&:focus{
				+.input-label{
					opacity: 0;
				}
			}
		}
		
		&:last-child{
			input[type="text"],
			input[type="search"],
			input[type="email"],
			input[type="tel"]{
				border-right: 0;
				//border-left: 1px solid #cbcccf;
			}
		}
		select{
			width: 100%;
		    height: 52px;
		    // display: block;
		    opacity: 0;
		    visibility: hidden;
		}
	}
	input[type="checkbox"]:not(:checked),
	input[type="checkbox"]:checked{
		position: absolute;
		left: -9999px;
	}
	input[type="checkbox"]:not(:checked) + label,
	input[type="checkbox"]:checked + label{
		position: relative;
		cursor: pointer;
		padding-left: 39px;
		line-height: 20px;
		display: inline-block;
	}

	input[type="checkbox"]:not(:checked) + label:before,
	input[type="checkbox"]:checked + label:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 20px;
		height: 20px;
		cursor: pointer;
		z-index: 1;
		background: #e9e9e9;
	}
	input[type="checkbox"]:not(:checked) + label:after,
	input[type="checkbox"]:checked + label:after {
	  content: '';
	  background: url('../img/content/checked.png') center no-repeat;
	  width: 13px;
	  height: 12px;
	  display: inline-block;
	  position: absolute;
	  top: 4px;
	  left: 4px;
	  z-index: 2;
	}
	input[type="checkbox"]:not(:checked) + label:after {
	  opacity: 0;
	}
	input[type="checkbox"]:checked + label:after {
	  opacity: 1;
	}
	.submit-wrap{
		padding-top: 16px;
		margin-bottom: 15px;
	}
}

.no-js{
	.cost-form{
		.input-wrap{
			select{
				// opacity: 1;
		  //   	visibility: visible;
			}
		}
	}
}

.cost__item{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	padding-right: 50px;
	&:last-child{
		padding-right: 0;
	}
}


.cost-form{
	input[type="text"],
	input[type="search"],
	input[type="email"],
	input[type="tel"]{
		background: #e9e9e9;
		border: 0;
		padding: 17px 15px;
	}
	.input-wrap{
		select{
			opacity: 0;
	    	visibility: hidden;
		}
	}
}

.cost-form__item{
	margin-right: -20px;
	margin-bottom: 22px;
	.dis{
		display: none;
	}
}

.cost-form__item--dest{
	background: #e9e9e9;
	margin-right: 0;
    // overflow: hidden;
    position: relative;
	.input-wrap{
		width: 50%;
		padding-right: 25px;
		display: inline-block;
		margin-right: -4px;
		position: relative;
		// z-index: 6;
		input[type="text"],
		input[type="search"],
		input[type="email"],
		input[type="tel"]{
			//border-right: 1px solid #cbcccf;
		}
		
		&:last-child{
			padding-right: 0;
			padding-left: 25px;
			input[type="text"],
			input[type="search"],
			input[type="email"],
			input[type="tel"]{
				border-right: 0;
				//border-left: 1px solid #cbcccf;
			}
			.input-label{
				left: 35px;
			}
		}
	}
	.input-label{
		i{
			width: 11px;
			height: 15px;
			background: url(../img/svg/label.svg) center no-repeat;
			background-size: cover;
		}
	}
}

.input-wrap__toggle{
	width: 50px;
	height: 100%;
	background: url(../img/svg/change.svg) center no-repeat;
	background-size: 19px 11px;
	position: absolute;
	left: 50%;
	margin-left: -28px;
	top: 0;
	border-right: 1px solid #cbcccf;
	border-left: 1px solid #cbcccf;
	transition:all 0.3s ease;
	z-index: 9;
	// &:hover{
	// 	background: url(../img/svg/change.svg) center no-repeat;
	// 	background-size: 19px 11px;
	// 	opacity: 0.7;
	// }

}

.input-label{
	position: absolute;
	top: 16px;
	left: 15px;
	white-space: nowrap;
	pointer-events: none;
	transition:all 0.3s ease;
	i{
		display: inline-block;
		vertical-align: middle;
		margin-top: -7px;
		margin-right: 6px;
	}
	span{
		display: inline-block;
		color: #a4a6ab;
	}
}

.necessary{
	color: #d31f34;
}

.cost-form__item--full{
	margin-right: 2px;
	.input-wrap{
		width: 33.33%;
		padding-right: 0;
		border-right: 1px solid #cbcccf;
		&:last-child{
			border-right: 0;
		}

	}
}


.cost-form__submit{
	display: inline-block;
    background: transparent;
    border: 2px solid #fff;
    font-size: 18px;
    font-family: 'gilroyextrabold';
    padding: 13px;
    background: #d31f34;
    color: #fff;
}

.cost-form__message{
	font-size: 13px;
	    margin-bottom: 22px;
}

.cost-form__warning{
	font-size: 13px;
	color: #a9abb0;
}


.cost-form__result{
	border-top: 1px solid #d31f34;
	padding-top: 22px;
	overflow: hidden;
}

.cost-form__sum{
	float: left;
	color: #cbcdcf;
	span{
		font-size: 20px;
    	font-family: 'gilroyextrabold';
	}
}

.cost-form__refresh{
	float: right;
	margin-top: 3px;
	transition:all 0.3s ease;
	i{
		display: inline-block;
		width: 20px;
		height: 17px;
		background: url(../img/svg/refresh.svg) center no-repeat;
		background-size: 20px 17px;
		margin-right: 8px;
		position: relative;
		top: 2px;
		transition:all 0.3s ease;
	}
	&:hover{
		background: transparent;
		opacity: 0.7;
		// i{
		// 	transform:rotate(-180deg);
		// }
	}
}


.ui-widget-content {
    border: 0;
    background: #cbcccf;
}
.ui-widget {
    font-family: inherit;
    font-size: inherit;
}

.ui-slider-horizontal .ui-slider-range {
    background: #d31f34;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 0;
    font-weight: inherit;
    color: transparent;
    background: #d31f34;
    border-radius: 50%;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -7px;
    margin-left: -7px;
}
.ui-slider .ui-slider-handle {
    width: 14px;
    height: 14px;
    cursor: pointer;;
}
.ui-slider-horizontal {
    height: 2px;
}


.jq-selectbox {
    width: 100%;
    z-index: 3!important;
    &.changed{
    	// z-index: 7!important;
    }
    &.opened{
		z-index: 7!important;
    	.jq-selectbox__trigger-arrow{
    		transform: rotate(-90deg);
    	}
    }
    &+.input-label{
    	z-index: 5;
    }
}
.jq-selectbox__select {
        height: 55px;
    padding: 15px 33px 16px 15px;
    border: 0;
    border-radius: 0;
        background: #e9e9e9;
    box-shadow: none;
    font: inherit;
    color: inherit;
    text-shadow: none;
}
.jq-selectbox__select:active {
    background: #e9e9e9;
    box-shadow: none;
}

.jq-selectbox__select:hover {
    background: #e9e9e9;
}
.jq-selectbox.focused .jq-selectbox__select {
    border: 0;
}
.jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
    border-left: 0;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 15px;
        width: 5px;
    height: 7px;
    border:0;
    background: url(../img/svg/p-arrow.svg) center no-repeat;
    background-size: cover;
    transform: rotate(90deg);
    transition:all 0.3s ease;
}

.jq-selectbox__dropdown {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
        background: #e9e9e9;
    box-shadow: none;
    font: inherit;
    bottom: auto!important;
    ul{
    	margin: 0;
    	li{
			padding: 5px 15px 6px;
			margin-bottom: 0;
			color: inherit;
			min-height: 13px;
			line-height: inherit;
    		&:before{
    			display: none;
    		}
    	}
    }
}

.cost-form__search{
	position: relative;
	margin-top: 15px;
	margin-bottom: 40px;
    input[type="text"]{
    	    padding-right: 155px;
    	        padding: 10px 15px;
    }
}

.cost-form__search-submit{
	position: absolute;
	right: 0;
	top: 0;
	    display: inline-block;
    background: transparent;
    border: 0;
    font-size: 16px;
    font-family: 'gilroyextrabold';
    padding: 10px 47px;
    background: #d31f34;
    color: #fff;
    &.squares-wrap{
    	position: absolute;
    }
}

.id-delete{
	display: inline-block;
	width: 9px;
	height: 9px;
	background: url(../img/svg/close-button.svg) no-repeat;
	background-size: cover;
	opacity: 0.5;
	transition:all 0.3s ease;
	&:hover{
		opacity: 1;
		background: url(../img/svg/close-button.svg) no-repeat;
		background-size: cover;
	}
}


.cost__id{
	max-height: 355px;
	overflow: hidden;
	td{
		&:last-child{
			text-align: right;
		}
	}
	th{
		&:last-child{
			text-align: right;
		}
	}
	.state{
		display: inline-block;
		padding-left: 17px;
		position: relative;
		&:before{
			content: "";
			display: inline-block;
			border-radius: 50%;
			width: 6px;
			height: 6px;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -3px;
		}
		&.state--at_customs{
			&:before{
				background: #ffb001;
			}
		}
		&.state--decreased{
			&:before{
				background: #ff2f2e;
			}
		}
		&.state--arrived{
			&:before{
				background: #00cc47;
			}
		}
	}
}


.contacts{
	margin: -74px -40px 0;
	position: relative;
	>.container-fluid{
		position: static;
	}
}


.contacts__item{
	width: 50%;
	float: left;
}
.contacts__item--map{
	// position: relative;
	// z-index: -1;
}

.map-wrap{
	height: 775px;
	width: 100%;
	//position: relative;
}

#map{
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
}

.contacts__item--info{
	padding-top: 205px;
	padding-left: 100px;
}


.squares-wrap{
	position: relative;
	overflow: hidden;
	// &:hover{
	// 	.squares{
	// 		opacity: 1;
	// 	}
	// }
	&:before{
		content: attr(data-visual-label);
	    display: inline-block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    transform: translateY(-150%);
	    transition: all 0.3s ease;
	    width: 100%;
	    text-align: center;
	}
	svg{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	&:hover{
		.sq0{
			opacity: 0;
		}
		.sq1{
			opacity: 0.1;
		}
		.sq2{
			opacity: 0.2;
		}
		.sq3{
			opacity: 0.3;
		}
		.sq4{
			opacity: 0.4;
		}
		.sq5{
			opacity: 0.5;
		}
		.sq6{
			opacity: 0.6;
		}
		.sq7{
			opacity: 0.7;
		}
		.sq8{
			opacity: 0.8;
		}
		.sq9{
			opacity: 0.9;
		}
		.sq10{
			opacity: 1;
		}


		.tr1{
			transition:all 0.6s ease;
		}

		.tr2{
			transition:all 1.4s ease;
			transition-delay:0.3s;
		}

		.tr3{
			transition:all 1.4s ease;
		}

		.tr4{
			transition:all 1.4s ease;
			transition-delay:1s;
		}
		.squares-txt{
			-webkit-transform: translateY(200%);
		    -ms-transform: translateY(200%);
		    transform: translateY(200%);
			
		}
		&:before{
			-webkit-transform: translateY(0);
		    -ms-transform: translateY(0);
		        transform: translateY(-50%);
    		top: 50%;
		}
	}
}

.squares{
	position: absolute;
	overflow: hidden;
	display: block;
	width: 102%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	//opacity: 0;
	transition:all 0.3s ease;

}
.i-square{
	width: 10px;
	height: 10px;
	float: left;
	background: #fff;
	//z-index: -1;
	opacity: 0;
}
.squares-txt{
	position: relative;
	z-index: 3;
	transition: all 0.3s ease;
	display: inline-block;
}


.sq{
	fill: #fff;
	transition:all 0.3s ease;
	opacity: 0;
}



@keyframes shine {
	0%{
		opacity: 0;
	}
	100% {
		left: 125%;
	}
}




.service-bg{
	position: absolute;
	width: calc(100% + 80px);
	height: 100%;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0;
	left: -40px;
	z-index: -2;
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		background: rgba(0,0,0,0.7); 
	}
}



.questions{
	margin: 0 -40px;
	padding: 0 40px;
	font-size: 18px;
	padding-top: 24px;
}


.questions__item{
	background: #fff;
	margin: 0 -40px;
	    padding: 0 40px;
	position: relative;
	&:before{
		content: "";
		display: inline-block;
		width: 1px;
		height: 100%;
		top: 0;
		left: 39px;
		background: #e8e8e8;
		position: absolute;
	}
	&:after{
		content: "";
		display: inline-block;
		width: 1px;
		height: 100%;
		top: 0;
		right: 39px;
		background: #e8e8e8;
		position: absolute;
	}
	&.active{
		background: #f8f8f8;
		.question__answer{
			&:after{
				-webkit-transform: scaleX(1);
				-ms-transform: scaleX(1);
				transform: scaleX(1);
			}
		}
	}
}
.questions__link{
    max-width: 860px;
    margin: 0 auto;
    display: block;
    padding: 20px 80px;
    color: #000;
    overflow: hidden;
    line-height: 1.4;
    transition:all 0.1s ease;
    border-top: 1px solid #f8f8f8;
    &:hover{
    	background: #f8f8f8;
    }
}
.questions__number{
	float: left;
	width: 40px;
	color: #d31f34;
	font-family: 'gilroyextrabold';
}
.questions__q{
	    margin-left: 40px;
    overflow: hidden;
    display: block;
}

.question__answer{
	max-width: 920px;
	    margin: 16px auto 0;
	padding: 30px 0;
	display: none;
	position: relative;
	font-size: 16px;
	&:after{
		height: 2px;
		-webkit-box-shadow: 0 1px 3px 0 rgba(228, 0, 43, 0.35), 0 3px 15px 0 rgba(228, 0, 43, 0.35);
		box-shadow: 0 1px 3px 0 rgba(228, 0, 43, 0.35), 0 3px 15px 0 rgba(228, 0, 43, 0.35);
		background: #e4002b;
		-webkit-transform: scaleX(0);
		-ms-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: -webkit-transform .35s;
		transition: -webkit-transform .35s;
		transition: transform .35s;
		transition: transform .35s, -webkit-transform .35s;
		transition: transform .35s,-webkit-transform .35s;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		content: '';
		z-index: 5;
	}
}


@import "components/rects";

@import "components/loader";

@import "components/index";

@import "components/footer";

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


@import "components/media";









