.page-header{
	// position: relative;
	// z-index: 5;
}

.page-header__in{
	padding: 25px 0 10px;
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}

.page-header__phone{
	font-family: 'gilroyextrabold';
	font-size: 18px;
	padding-right: 25px;
	float: left;
	padding-top: 5px;
	background: transparent!important;
	color: #000;
	&:hover{
		    color: #d31f34;
	}
}

.top-search{
	float: right;
	padding-left: 20px;
	margin-right: -15px;
}
.top-search__icon{
	display: inline-block;
	width: 33px;
	height: 34px;
	background: url(../img/svg/search.svg) no-repeat;
}
.page-header__nav{
	float: right;
	position: relative;
	padding-right: 55px;
	margin-left: 9px;
	&:after{
		content: '';
		display: inline-block;
		height: 1px;
		background: #e8e8e8;
		width: 55px;
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: 4px;
	}
}

.layout--index{
	.page-header__nav{
		&:after{
			background: rgba(232,232,232, 0.2);
		}
	}
}

.page-header__link{
	font-family: 'gilroyextrabold';
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
	padding-right: 40px;
	position: relative;
	text-decoration: none;
	color: #07162b;
	&:after{
		content: '';
		display: inline-block;
		height: 1px;
		background: #e8e8e8;
		width: 20px;
		position: absolute;
		top: 50%;
		right: 10px;
		margin-top: 0;
	}
	&:last-child{
		padding-right: 10px;
		&:after{
			display: none;
		}
	}
	&:hover{
		background: transparent;
		color: #d31f34;
	}
}

.layout--index{
	.page-header__link{
		&:after{
			background: rgba(232,232,232, 0.2);
		}
	}
}

.top-logo-wrap{
	overflow: hidden;
	// margin-top: -25px;
	padding-top: 14px;
	border-bottom: 1px solid #e8e8e8;
}

.layout--index{
	.top-logo-wrap{
		border-bottom: 1px solid rgba(232,232,232, 0.2);
	}
}

.top-logo{
    width: 192px;
    height: 154px;
    display: inline-block;
    background: #d31f34;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 10;
    margin-left: -96px;
    color: #fff;
    transition:all 0.5s linear;
}

.top-logo__img{
	display: inline-block;
	width: 106px;
	height: 55px;
	transition:all 0.5s linear;
	background: url(../img/content/top-logo.png) no-repeat;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -53px;
	&:hover{
    	background: url(../img/content/top-logo.png) no-repeat;
    }
}

.top-search__icon{
	&:hover{
		background: transparent;
	}
}


.page-header__link--sub{
	position: static;
	padding-right: 0;
	&:after{
		display: none;
	}
	>a{
		color: #07162b;
		position: relative;
		padding-right: 40px;
		&:after{
			content: '';
			display: inline-block;
			height: 1px;
			background: #e8e8e8;
			width: 20px;
			position: absolute;
			top: 50%;
			right: 10px;
			margin-top: 0;
		}
		
		&.active{
			background: transparent;
			color: #d31f34;
		}
	}
	&:hover{
		>a{
			background: transparent;
		color: #d31f34;
		}
		.page-header__submenu{
			opacity: 1;
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
			z-index: 7;
			visibility: visible;
			transition: all 0.3s ease-in-out;
		}

	}
}


.layout--index{
	.page-header__link--sub{
		>a{
			&:after{
				background: rgba(232, 232, 232, 0.2);
			}
		}
	}
}

.page-header__submenu-wrap{
	background: #fff;
	padding: 18px 25px 5px;
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.45);
}

.page-header__submenu{
	position: absolute;
	z-index: 5;
	right: 0;
	// left: 0;
	padding-top: 20px;

	opacity: 0;
	-webkit-transform: translateY(25%);
	-ms-transform: translateY(25%);
	transform: translateY(25%);
	transition: all 0.3s ease-in-out;
	z-index: -1;
	visibility: hidden;
	// display: none;
	// &.active{
	// 	opacity: 1;
	// 	-webkit-transform: translateY(0);
	// 	-ms-transform: translateY(0);
	// 	transform: translateY(0);
	// 	z-index: 5;
	// 	visibility: visible;
	// 	transition: all 0.3s ease-in-out;
	// 	// display: block;
	// }
	.tabs{
		margin: 0;
		padding: 0;
		overflow: hidden;
		border-bottom: 1px solid #d31f34;
		margin-bottom: 6px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		li{
			list-style-type: none;
			// display: inline-block;
			vertical-align: top;
			// white-space: nowrap;
			text-align: center;
			padding-bottom: 17px;
			
			a{
				color: #000;
				background: transparent!important;
				border-bottom: 1px solid transparent;
				display: block;
			    padding: 0 10px;
			    width: 100%;
				&:hover{
					color: #d31f34;
				}
			}
			&.active,
			&:hover{
				color: #d31f34;
			}
			&.active,
			&:hover{
				border-bottom: 1px solid #d31f34;
			}
		}
	}
}

.page-header__submenu-link{
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	width: 50%;
	margin-bottom: 18px;
	padding: 0 20px;
	color: #000;
	font-family: 'gilroylight';
	font-size: 16px;
	position: relative;
	&:hover{
		background: transparent;
		color: #d31f34;
	}
	&.active{
		&:before{
			content: "";
			width: 11px;
			height: 15px;
			background: url(../img/svg/marker.svg) no-repeat;
			    background-size: 11px 15px;
			position: absolute;
			top: 50%;
			margin-top: -7px;
			left: 0;
		}
	}
}

.menu-btn{
	margin-top: 30px;
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
	position: relative;

	&:hover{
		background: transparent;
		.burger-icon{
			&:before{
				//top: -11px;
			    width: 30px;
			    left: 0;
			}
			&:after{
				//top: 11px;
				width: 30px;
				left: 0;
			}
		}
	}
	&.active{
		.burger-icon {
		    background-color: transparent;
		    &:before{
				-webkit-transform: translateY(11px) rotate(45deg);
				-moz-transform: translateY(11px) rotate(45deg);
				-ms-transform: translateY(11px) rotate(45deg);
				-o-transform: translateY(11px) rotate(45deg);
				transform: translateY(11px) rotate(45deg);
				width: 30px;
				left: 0;
				background-color: #d31f34;
		    }
		    &:after{
				-webkit-transform: translateY(-11px) rotate(-45deg);
				-moz-transform: translateY(-11px) rotate(-45deg);
				-ms-transform: translateY(-11px) rotate(-45deg);
				-o-transform: translateY(-11px) rotate(-45deg);
				transform: translateY(-11px) rotate(-45deg);
				width: 30px;
				left: 0;
				background-color: #d31f34;
		    }
		}
	}
}
.burger-icon {
	display: block;
	position: relative;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 30px;
	height: 3px;
	background-color: #fff;
	@include transition(all 0.2s linear);
	&:before,
	&:after{
		display: block;
		width: 30px;
		height: 3px;
		background-color: #fff;
		@include transition(all 0.2s linear);
		position: absolute;
		content: "";
	}
	&:before{
		top: -11px;
	    width: 50px;
	    left: -10px;
	}
	&:after{
		top: 11px;
		width: 40px;
		left: -5px;
	}
}

.top-menu{
	background: #fff;
    color: #000;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 25px 40px;
    z-index: 5;
    max-height: 100vh;
    overflow-y: auto;
    display: none;
    .page-header__phone{
    	color: #000;
    	&:hover{
    		color: #d31f34;
    	}
    }
    
}
.top-menu-wrap{
	clear: both;
	text-align: left;
	
	max-width: 1360px;
    padding: 0;
    position: relative;
    width: 100%;
    margin: 0 auto;
	&:before{
    	content: "";
    	display: block;
    	width: 100%;
    	height: 100%;
    	position: absolute;
    	left: 0;
    	top: 0;
    	background: url(../img/svg/pattern.svg) repeat;
    }
}

.page-header__lang{
	float: right;
	font-size: 18px;
	margin-top: -25px;
}

.lang-wrap{
	display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.indicator {
    border-bottom: 2px solid #d31f34;
    position: absolute;
    // width: 0;
    // opacity: 0;
    top: 80px;
}

.lang-item{
	float: left;
	padding: 30px 12px;
	color: #000;
	transition:all 0.3s ease;
	border-bottom: 2px solid transparent;
	&:hover{
		background: #f8f8f8; 
	}
	&.active{
		font-family: 'gilroyextrabold';
		background: #f8f8f8;
		border-bottom: 2px solid #d31f34;
	}
}
.lang-txt{
	display: inline-block;
	vertical-align: middle;
	    margin-right: 25px;
}


.top-menu-list{
	//border-bottom: 1px solid #d31f34;
	position: relative;
	z-index: 5;
	padding-top: 30px;
}
.top-menu-add {
    padding: 12px 0 0px;
    overflow: hidden;
    position: relative;
    z-index: 5;
    margin-top: -12px;
    border-top: 1px solid #d31f34;
}

.top-menu-socials{
	float: left;
}
.top-menu-socials__item{
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	transition:all 0.3s linear;
	margin-right: 5px;
}

.top-menu-socials__item--facebook{
	background: transparent url(../img/content/facebook.png) 0 -32px no-repeat;
	&:hover{
		background: transparent url(../img/content/facebook.png) 0 0px no-repeat;
	}
}
.top-menu-socials__item--twitter{
	background: transparent url(../img/content/twitter.png) 0 -30px no-repeat;
	&:hover{
		background: transparent url(../img/content/twitter.png) 0 -2px no-repeat;
	}
}

.top-menu__bg{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	display: none; 
}

.top-menu-list__item{
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	padding-right: 35px;
	width: 25%;
	font-size: 18px;
	margin-bottom: 47px;
}
.top-menu-list__item--double{
	width: 50%;
	.top-menu-list__wrap{
		column-count:2;
		column-gap: 35px;
	}
}

.top-menu-list__title{
	display: block;
	margin-bottom: 27px;
	font-family: 'gilroyextrabold';
	color: #000;
	position: relative;
	&:hover{
		color: #d31f34;
		background: transparent;
	}
	&:before{
		content: "";
		display: inline-block;
		width: 50px;
		height: 50px;
		background: #f8f8f8;
		position: absolute;
		top: 50%;
		margin-top: -25px;
		left: -30px;
		z-index: -1;
	}
}
.top-menu-list__link{
	display: block;
	margin-bottom: 10px;
	color: #000;
	font-size: 16px;
	&:hover{
		color: #d31f34;
		background: transparent;
	}
}

.top-menu-links{
	float: right;
	a{
		color: #d31f34;
		background: transparent;
		display: inline-block;
		vertical-align: middle;
		margin-right: 30px;
		position: relative;
		overflow: hidden;
		
		&:hover{
			background: transparent;
			span{
				transform:translateY(150%);
			}
			
			&:before{
				transform:translateY(0);
				top: 0;
			}
		}
		&:last-child{
			margin-right: 0;
		}
		&:before{
			content: attr(data-visual-label);
			display:inline-block;
			position: absolute;
			top: 0;
			left: 0;
			transform: translateY(-150%);
			transition:all 0.3s ease;
		}
		span{
			transition:all 0.3s ease;
			display: inline-block;
		}
	}
}

.top-search{
	input[type="checkbox"]{
		opacity: 0;
		visibility: hidden;
		width: 0;
		height: 0;
	}
}
.search-wrap{
	width: 33px;
	height: 34px;
	display: inline-block;
	background: transparent!important;
	position: relative;
    z-index: 8;
	&.active{
		z-index: 13;
		.search-inner {
			.search-icon{
				height: 0;
				opacity: 0;
				top: 11px;
				border: 1px solid #d31f34;
				border-radius: 0;
				transform-origin: 50% 50%;
				transition: all 0.3s ease, opacity 0.7s ease;
			}
			&:before {
				transform: rotate(90deg);
			}
			&:before, 
			&:after {
				height: 40px;
				transition: transform .3s .3s ease-in, height 0s .3s;
			}
		}
		// &:hover{
		// 	.search-icon{
		// 		opacity: 0;
		// 	}
		// }
	}
	&:hover{
		background: transparent!important;
		.search-icon,
		.search-inner:before,
		.search-inner:after{
			opacity: 0.6;
		}
	}
}




.search-inner{
	position: relative;
	width: 33px;
	height: 34px;
	transform: rotate(45deg);
	display: inline-block;
	transition: opacity 0.3s ease;
	&:before, 
	&:after {
		content: '';
		position: absolute;
		bottom: -4px;
		left: 13px;
		height: 10px;
		width: 2px;
		transition: all .5s;
		background: #d31f34;
		transition: transform .3s ease-out, height 0s .3s, opacity 0.3s ease;
	}
}

.search-icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 28px;
	height: 28px;
	border: 2px solid #d31f34;
	border-radius: 50%;
	transition: all .5s .5s;
	transform: rotate(90deg);
	transform-origin: 50% 50%;
	z-index: 1;
	transition: border .5s .3s, height .5s .3s ease-out, top .5s .3s ease-out, border-radius .5s .3s, opacity 0.3s ease;

}



.top-search__overlay{
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.5s;
	position: fixed;
	z-index: 12;
	top: 0;
	left: 0;
	width: 100%;
	padding: 90px 0; 
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// align-items: center;
	text-align: center;
	background: #fff;
	.container-fluid{
		padding-top: 60px;
		padding-bottom: 60px; 
		&:before{
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: url(../img/svg/pattern.svg) repeat;
		}
	}
}

.top-search__form{
	opacity: 0;
    transform: scale3d(0.8, 0.8, 1);
    transition: opacity 0.5s, transform 0.5s;
    width: 100%;
}

.top-search.active{
	.top-search__overlay{
		pointer-events: auto;
		opacity: 1;
	}
	.top-search__form{
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}


.top-search__bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: none;
}

.top-search__input{
	width: 100%;
	font-size: 30px;
	border: 0;
	color: #aaaaaa;
	border-bottom: 2px solid #ececec;
	transition:all 0.3s ease;
	    padding: 18px 0;
    background: #fff;
    position: relative;
    z-index: 15;
    &:focus{
    	border-bottom: 2px solid #d31f34;
    }
}

.top-search__container{
	position: relative;
}

.top-search__submit{
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -17px;
	width: 33px;
	height: 34px;
	background: url(../img/svg/search.svg) center no-repeat;
	background-size: contain;
	transition:all 0.3s ease;
	padding: 0;
    border: 0;
    text-indent: -9999em;
    display: inline-block;
    z-index: 15;
    &:hover{
    	background: url(../img/svg/search-h.svg) center no-repeat;
		background-size: contain;
    }
}

.top-menu-list__cat-wrap{
	padding-left: 20px;
	.top-menu-list__link{
		font-size: 14px;
	}
}
