.index-pages {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.index-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  &.active{
    .index-page__bg,
    .index-page--top__bg{
      transform: scale(1.3);
      transition:all 25s linear;
    }
  }
  &.inactive{
    .index-page__bg,
    .index-page--top__bg{
      transform: scale(1.0);
      transition:all 1s linear;
    }
  }
}

.index-page__half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100vh;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  will-change: transform;
}

.index-page__half--img {
  left: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  .index-page__inner{
    &:before{
      content: "";
      display: block;
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      position: absolute;
      left: 40px;
      top: 40px;
      background: url(../img/svg/pattern.svg) repeat;
      opacity: 0.3;
      z-index: 5;
    }
  }
}

.index-page__half--info {
  left: 50%;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.index-page.active .index-page__half {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.index-page__inner {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #1b1a1a;
}


.index-page__content {
  display: flex;
  align-items: center;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
  z-index: 3;
  transform: translateZ(0);
}

.index-page__half--img .index-page__content {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  padding: 0 120px; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  &:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%, rgba(255,255,255,0) 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  &:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
}

.index-page__half--info .index-page__content {
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  background: #242323;
  padding-left: 130px;
  padding-right: 130px;
  z-index: 7;
  &:before{
    content: "";
    display: block;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    position: absolute;
    left: -18px;
    top: 40px;
    background: url(../img/svg/pattern.svg) 0 0 repeat;
    opacity: 0.3;
    z-index: 5;
  }
}

.index-page.inactive .index-page__content {
  opacity: 0.5;
  transform: scale(0.95);
}

.index-page__half--info .index-page__content {
  
}










.index-page--top{
  height: 100%;
  .index-page__content{
    justify-content: center;
    &:before {
      content: "";
      display: block;
      width: calc(100% - 80px);
      height: calc(100% - 80px);
      position: absolute;
      left: 40px;
      top: 40px;
      background: url(../img/svg/pattern.svg) repeat;
      opacity: 0.3;
      z-index: 2;
    }
  }
  &:before{
    content: "";
    display: block;
    width: 100%;
    height: 270px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: inset 0px 160px 205px -85px rgba(0, 0, 0, 0.6);
  }
  &:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.4);
  }
}

.index-page--top__bg{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // transition: all 25s linear;
    will-change: transform;
}


.index-page__title{
  text-align: center;
}
.section-title{
  position: relative;
  z-index: 3;
  h2{
    font-size: 48px;
  }
}


.index-page__bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  will-change: transform;
}

.index-services{
  position: relative;
  z-index: 7;
}

.index-services__item{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-right: -4px;
  padding-right: 50px;
  margin-bottom: 24px;
  background: transparent!important;
  color: #fff;
  transition:all 0.3s ease;
  &:hover{
    color: #d31f34;
    .index-services__title{
      transform:translateX(-10px);
    }
    .index-services__num:before{
      background: #2c2b2b;
    }
  } 
}

.index-services__num{
  font-size: 17px;
  margin-bottom: 6px;
  font-family: 'gilroyextrabold';
  color: #d31f34;
  position: relative;
  &:before{
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #201f1f;
    position: absolute;
    left: -30px;
    top: 2px;
    z-index: -1;
    transition:all 0.3s ease;
  }
}
.index-services__title{
  font-size: 17px;
  font-family: 'gilroyextrabold';
  transition:all 0.3s ease;
}


.index-top-msg{
  font-size: 15px;
  width: 200px;
  height: 160px;
  padding-left: 33px;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  bottom: 115px;
  color: #fff;
  display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}


.index-top-msg__line{
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #d31f34;
  left: 0;
  top: 111px;
  box-shadow: 0 0 0 rgba(211,31,52, 0.4);
  animation: pulse 2s infinite;
  &:before{
    content: "";
    display: block;
    width: 1px;
    height: 93px;
    background: #d31f34;
    position: absolute;
        top: -105px;
    left: 4px;
  }
  &:after{
    content: "";
    display: block;
    width: 1px;
    height: 34px;
    background: #d31f34;
    position: absolute;
    top: 25px;
    left: 4px;
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(211,31,52, 0.9);
    box-shadow: 0 0 0 0 rgba(211,31,52, 0.9);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(211,31,52, 0);
      box-shadow: 0 0 0 10px rgba(211,31,52, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(211,31,52, 0);
      box-shadow: 0 0 0 0 rgba(211,31,52, 0);
  }
}


.index-transport{
  margin-right: -55px;
  position: relative;
  z-index: 7;
  width: 100%;
}
.index-transport__item{
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  padding-right: 55px;
  width: 50%;
  margin-bottom: 20px;
  background: transparent!important;
  color: #fff;
  &:hover{
    .index-transport__img-inner{
      filter: grayscale(0);
      transform: scale(1.1);
    }
    .index-transport__title{
      padding-left: 5px;
    }
    .index-transport__num{
      top: -50px;
      color: #fff;
      &:before{
        background: #d31f34;
      }
    }
  }
}
.index-transport__img{
  overflow: hidden;
  width: 100%;
  height: 157px;
  position: relative;
  margin-bottom: 3px;
}

.index-transport__img-inner{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition:all 0.5s linear;
  filter: grayscale(100%);
}

.index-transport__info{
  position: relative;
      min-height: 30px;
}
.index-transport__title{
  font-size: 17px;
  font-family: 'gilroyextrabold';
  vertical-align: middle;
  display: inline-block;
  transition:all 0.3s linear;
  padding-left: 75px;
  min-height: 3em;
}
.index-transport__num{
  display: inline-block;
  vertical-align: middle;
  color: #d31f34;
  font-size: 48px;
  line-height: 48px;
  font-family: 'gilroyextrabold';
  position: relative;
  transition:all 0.3s linear;
  margin-right: 15px;
  position: absolute;
  left: 9px;
  top: -20px;
  span{
    z-index: 3;
    position: relative;
  }
  &:before{
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
        left: -9px;
    top: -3px;
    background: transparent;
    transition:all 0.3s ease;
    z-index: 1;
  }
}




.index-transportations{
  margin-right: -55px;
  position: relative;
  z-index: 7;
  width: 100%;
}
.index-transportations__item{
  display: inline-block;
  margin-right: -4px;
  padding-right: 55px;
  width: 50%;
  margin-bottom: 20px;
  background: transparent!important;
  color: #fff;
  vertical-align: top;
  &:hover{
    .index-transportations__img-inner{
      filter: grayscale(0);
      transform: scale(1.1);
    }
    .index-transportations__title{
      padding-left: 5px;
    }
    .index-transportations__num{
      top: -50px;
      color: #fff;
      &:before{
        background: #d31f34;
      }
    }
  }
}
.index-transportations__img{
  overflow: hidden;
  width: 100%;
  height: 310px;
  position: relative;
  margin-bottom: 3px;
}

.index-transportations__img-inner{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition:all 0.5s linear;
  filter: grayscale(100%);
}

.index-transportations__info{
  position: relative;
      min-height: 30px;
}
.index-transportations__title{
  font-size: 17px;
  font-family: 'gilroyextrabold';
  vertical-align: middle;
  display: inline-block;
  transition:all 0.3s linear;
  padding-left: 75px;
  min-height: 3em;
}
.index-transportations__num{
  display: inline-block;
  vertical-align: middle;
  color: #d31f34;
  font-size: 48px;
  line-height: 48px;
  font-family: 'gilroyextrabold';
  position: relative;
  transition:all 0.3s linear;
  margin-right: 15px;
  position: absolute;
  left: 9px;
  top: -20px;
  span{
    z-index: 3;
    position: relative;
  }
  &:before{
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
        left: -9px;
    top: -3px;
    background: transparent;
    transition:all 0.3s ease;
    z-index: 1;
  }
}