.index-pages {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.index-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

.index-page__half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100vh;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

.index-page__half--img {
  left: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.index-page__half--info {
  left: 50%;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.index-page.active .index-page__half {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.index-page__inner {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #1b1a1a;
}


.index-page__content {
  display: flex;
  align-items: center;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
  z-index: 3;
  will-change: transform;
}

.index-page__half--img .index-page__content {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  padding: 0 120px; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.index-page__half--info .index-page__content {
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  background: #242323;
  padding-left: 130px;  
}

.index-page.inactive .index-page__content {
  opacity: 0.5;
  transform: scale(0.95);
}

.index-page__half--info .index-page__content {
  
}










.index-page--top{
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .index-page__content{
    justify-content: center;
  }
  &:before{
    content: "";
    display: block;
    width: 100%;
    height: 270px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: inset 0px 160px 205px -85px rgba(0, 0, 0, 0.6);
  }
  &:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.4);
  }
}


.index-page__title{
  text-align: center;
}
.section-title{
  h2{
    font-size: 48px;
  }
}


.index-page__bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}