.layout--index{
    .menu-btn{
        opacity: 0;
        visibility: hidden;
        transition:0.7s 1.7s linear;
    }

    .top-logo {
        top: 50%;
        transform: translateY(-50%);
        will-change: transform;
        transition:0.7s linear;
    }

}


.loaded{
    .menu-btn{
        opacity: 1;
        visibility: visible;
    }
     .top-logo {
        top: 0;
            transform: initial;
            will-change: initial;
    }
    // .page-header{
    //     // height: auto;
    //     position: fixed;
    // }
}


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    text-align: center;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #d31f34;
    z-index: 1000;
    // -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    // -ms-transform: translateX(0);  /* IE 9 */
    // transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    transform: translateX(-50%);
    display: inline-block;
    transition: all 0.7s linear;
    will-change: transform;
}


/* Loaded */
.loaded #loader-wrapper .loader-section {
    width: 192px;
    height: 154px;
}

    
.loaded #loader-wrapper {
    visibility: hidden;
    // -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    //     -ms-transform: translateY(-100%);  /* IE 9 */
    //         transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
    // -webkit-transition: all 0.3s 1s ease-out;  
    //         transition: all 0.3s 1s ease-out;
}
   

.loader-section{
    will-change: transform;
    .top-logo__img {
        bottom: auto;
        top: 50%;
        //margin-top: 20px;
    }
}

/* JavaScript Turned Off */
// .no-js #loader-wrapper {
//     display: none;
// }
